---
import AboutBox from "@components/AboutBox.svelte";
import { getCollection } from "astro:content";
import type { ItemDisplayItem, ItemStackGroup } from "@types";
import Layout from "@layouts/Global.astro";
import ItemStack from "@components/items/ItemStack.svelte";
import ItemGrid from "@components/items/ItemGrid.svelte";

const technology = (await getCollection("technology")).map((entry) => {
  return {
    id: entry.data.id,
    title: entry.data.title,
    items: entry.data.tech as ItemDisplayItem[]
  } as ItemStackGroup;
});
const games = (await getCollection("games")).map((entry) => {
  return {
    id: entry.id,
    title: entry.data.title,
    description: entry.data.description,
    link: entry.data.link
  } as ItemDisplayItem;
});

const tech_images = Object.fromEntries(
  Object.entries(
    import.meta.glob<{ default: ImageMetadata }>(
      "/src/assets/technology/*.{webp,svg}",
      {
        eager: true
      }
    )
  ).map(([path, value]) => {
    const key = path
      .split("/")
      .at(-1)!
      .replace(/\.[^.]+$/, "");
    return [key, value];
  })
);
const games_images = Object.fromEntries(
  Object.entries(
    import.meta.glob<{ default: ImageMetadata }>(
      "/src/assets/games/*.{webp,svg}",
      {
        eager: true
      }
    )
  ).map(([path, value]) => {
    const key = path
      .split("/")
      .at(-1)!
      .replace(/\.[^.]+$/, "");
    return [key, value];
  })
);
---

<Layout
  title="About"
  description="This page is all about me! That sound egomaniacal. It's not supposed to, this is just a convenient way for you to get to know me."
>
  <AboutBox client:visible />

  <div class="mt-8">
    <h2 class="text-center text-3xl font-bold underline mb-3">
      Technology Stacks
    </h2>
    <div class="md:flex justify-center">
      {
        technology.map((stack) => (
          <ItemStack
            title={stack.title}
            items={stack.items}
            images={tech_images}
          />
        ))
      }
    </div>
  </div>

  <div class="mt-8">
    <h2 class="text-center text-3xl font-bold underline mb-3">Video Games</h2>
    <ItemGrid images={games_images} items={games} client:visible />
  </div>
</Layout>
