---
import PageLayout from "./pageLayout.astro";
import { siteInfo, aboutMe, projects } from "../content.json";
import type {
	contentListEntry,
	projectObject,
	specificViewEntry
} from "../types";
import ContentBlock from "../components/ContentBlock.svelte";
import ContentList from "../components/ContentList.svelte";
import SpecificView from "../components/SpecificView.svelte";
import Banner from "../components/Banner.svelte";
import { onMount } from "svelte";

//setup about section
const socialMedia: contentListEntry[] = [];
const techList: contentListEntry[] = [];

for (let i = 0; i < aboutMe.tech.length; i++) {
	let entry: contentListEntry;

	const tech = aboutMe.tech[i];

	entry = {
		title: tech.title,
		description: tech.description,
		image: tech.image,
		link: tech.link,
		target: "_blank"
	};

	techList.push(entry);
}

for (let i = 0; i < aboutMe.socialMedia.length; i++) {
	let entry: contentListEntry;

	const social = aboutMe.socialMedia[i];

	entry = {
		title: social.title,
		description: social.description,
		image: social.image,
		link: social.link,
		target: "_blank"
	};

	socialMedia.push(entry);
}

//setup projects section
let favProject = projects.list.find(
	(element) => element.id == projects.favProject
) as projectObject;

let featProject = projects.list[0] as projectObject;
onMount(() => {
	do {
		featProject =
			projects.list[Math.floor(Math.random() * projects.list.length)];

		if (featProject.id != projects.favProject) break;
	} while (featProject);
});

let projectsList: contentListEntry[] = [];

for (let i = 0; i < projects.list.length; i++) {
	let entry: contentListEntry;

	const project = projects.list[i];

	entry = {
		title: project.title,
		description: project.description,
		image: project.image,
		link: "none",
		target: "_blank"
	};

	projectsList.push(entry);
}

let specificViewList: specificViewEntry[] = [];

for (let i = 0; i < projects.list.length; i++) {
	let entry: specificViewEntry;

	const project = projects.list[i];

	entry = {
		title: project.title,
		description: project.description,
		image: project.image,
		links: true,
		git: project.git,
		external: project.external
	};

	specificViewList.push(entry);
}
---

<PageLayout>
	<Banner
		client:load
		title={siteInfo.title}
		description={siteInfo.description}
	/>

	<div id="/about">
		<div
			class="m-4 mx-auto md:grid md:auto-cols-min md:grid-cols-2 md:items-center md:gap-4"
		>
			<img
				src={aboutMe.basicInfo.image}
				alt="Represents the content displayed in this content block."
				class="w-72 h-72 mx-auto mb-3 bg-white md:mb-0 md:mx-0 md:ml-auto"
			/>
			<section class="mx-auto w-72 md:w-80 md:mx-0 md:mr-auto">
				<h2 class="text-center text-2xl font-bold underline">
					About Me
				</h2>
				<p
					class="text-justify"
					set:html={aboutMe.basicInfo.description}
				/>
			</section>
		</div>

		<hr />

		<ContentList
			client:visible
			title={"Technology I use"}
			entries={techList}
		/>

		<hr />

		<ContentList
			client:visible
			title="Social Media"
			entries={socialMedia}
		/>
	</div>

	<div>
		<hr id="/projects" />

		<div>
			<h2 class="text-center underline text-3xl font-bold mb-4">
				My Favorite Project
			</h2>
			<ContentBlock
				title={favProject.title}
				description={favProject.description}
				image={favProject.image}
				links={true}
				git={favProject.git}
				external={favProject.external}
			/>
		</div>

		<hr />

		<div>
			<h2 class="text-center underline text-3xl font-bold mb-4">
				Random Project
			</h2>
			<ContentBlock
				client:visible
				title={featProject.title}
				description={featProject.description}
				image={featProject.image}
				links={true}
				git={featProject.git}
				external={featProject.external}
			/>
		</div>

		<hr />

		<SpecificView
			client:visible
			title="Specific Project View"
			entries={specificViewList}
		/>
	</div>

	<hr />
</PageLayout>
